.footerContainer
  width: 100%
  font-family: Poppins, sans-serif
  position: absolute
  top: 100%
  bottom: 0px
  left: 0
  right: 0
  
.callToAction
  text-align: center
  margin-bottom: 6em

  h2
    margin: 0
    font-size: 2rem
    margin-bottom: -0.5rem

  .h2Link
    color: #7F7F7F
    text-decoration: none
    cursor: pointer
    &:hover
      color: rgba(127, 127, 127, 0.4)
  
.linksAndCopyright
  width: 90%
  display: flex
  justify-content: space-between
  align-items: center
  padding: 2rem

  .footerLinkContainer
    display: flex
    align-items: center
    gap: 2rem
    .footerLink
      color: #000
      text-decoration: none
      cursor: pointer
      &:hover
        color: rgba(127, 127, 127, 0.4)