.imageContainer
  max-width: 715px
  overflow: none

.landingImage
  max-width: 100%
  
.landingVideo
  max-width: 100% 
  max-height: 100%
  border-radius: 0px
  display: block
  object-fit: cover
  background-color: rgba(0, 0, 0, 0)
  object-position: 50% 50%